.App {
  text-align: center;
  background-color: black;
  height: 100%;
  padding: 20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

img {
  display: none; 
}

.canvas {
  border-style: solid;
  border-width: 3px;
  border-color: white;
}

body > #root > div {
  height: 100vh;
}

.menu {
  color: #364652; 
  width: 50%;
  margin: auto;
  margin-top: 10px;
}

ul {
  list-style-type: none;
  margin: auto;
  width: 100%;
}

.clickable-menu {
  padding: 5px; 
  background-color: white; 
  margin: 5px;
  border-radius: 15px;
}

.clickable-menu:hover {
  background-color: #3F4045;
  cursor: pointer;
  color: white;
}

.title {
  padding: 5px; 
  background-color: white; 
  margin: 5px;
  border-radius: 15px;
}

.canvas {
  width: 50%
}

.showImage {
  display: block;
  width: 500px;
  margin: auto; 
}